<footer>
    <div class="container footer-container">
        
        <div class="footer-social-links">
            <a href="#" aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a>
            <a href="#" aria-label="Facebook"><i class="fa-brands fa-facebook"></i></a>
            <a href="#" aria-label="YouTube"><i class="fa-brands fa-youtube"></i></a>
        </div>

        <div class="footer-copyright text-center">
            <p>
                © <span id="currentYear">2026</span> Igreja Batista Viva - Rua João Ferreira da Silva, 159, Sumaré/SP
            </p>
            <p>
                Desenvolvido por 
                <a href="https://henriquedgs76.github.io/meu-portfolio/" target="_blank" class="dev-link">
                   Henrique Developer
                </a>
            </p>
        </div>

        <a href="#home" class="footer-back-to-top">
            Voltar ao topo
        </a>
    </div>
</footer>