<header id="home">
    <div class="container header-flex">
        <a href="index.html" class="logo-box">
            <img src="imgs/logo-viva3.png" class="main-logo" alt="Igreja Batista Viva Logo">
        </a>
        <nav>
            <a href="index.html">Início</a>
            <a href="sobre.html">Quem Somos</a>
            <a href="cultos.html">Cultos</a>
            <a href="ministerios.html">Ministérios</a>
            <a href="contato.html">Contato</a>
        </nav>
    </div>
</header>